{% extends "inicio/encabezado.html" %}

{% load static %}

{% block titulo %} Principal {% endblock %}

{% block imagen %}
    {% static 'inicio/images/home.png' %}
{% endblock %}

{% block texto %} Principal {% endblock %}

{% block span %} DSM {% endblock %}

{% block contenido %}
    <!-- Contenido Principal -->

    <!-- Encabezado -->
    <div class="page-header">
        <div class="page-title">
            <h3>Alumnas
                <small>Lista de Alumnas</small>
            </h3>
        </div>
    </div>
    <!-- /Encabezado -->

    <table>
        <thead>
            <tr class="text-center">
                <th>Foto</th>
                <th class="text-semibold">Matrícula</th>
                <th class="muted">Nombre</th>
                <th class="muted">Carrera</th>
                <th class="muted">Turno</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center">
                <td>
                    <img src="" alt="" class="img-media" />
                </td>
                <td>Utm221102ti</td>
                <td>Juan Pérez</td>
                <td>TIC</td>
                <td>Matutino</td>
            </tr>
        </tbody>
    </table>

    <!-- /Contenido Principal -->
{% endblock %}
<!-- Navegación -->
{% block nav %}
<div class="breadcrumb-line">
	<ul class="breadcrumb">
		<a href="{%url 'Principal'%}">
			{%if request.path == ' / ' %}
			Principal
			{%else%}
			Principal {{request.path}}
			{% endif %}
		</a>
	</ul>
</div>
{% endblock %}
<!-- /Navegación -->

<!-- Tabla de alumnos -->
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Foto</th>
			<th>Matrícula</th>
			<th>Nombre</th>
			<th>Carrera</th>
			<th>Turno</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td class="text-center">
				<img src="" alt="" class"img-media">
			</td>
			<td class="text-semibold">UTM221032TI</td>
			<td class="muted">Vanessa</td>
			<td class="muted">TIC</td>
			<td class="muted">Matituno</td>
		<tr>
	</tbody>
</table>


{% endblock %}
