{% extends "inicio/encabezado.html" %}

{% block titulo %} Principal {% endblock %}

{% block imagen %}
    {% load static %}
    {% static 'inicio/images/home.png' %}
{% endblock %}

{% block texto %} Principal {% endblock %}

{% block span %} DSM {% endblock %}

{% block contenido %}

<!--Encabezdo -->
<div class="page-header">
	<div class="page-title">
		<h3>Alumnos
			<small>Lista de alumnos</small>
		</h3>
	</div>
</div>
<!-- /Encabezado-->

<!-- Navegación -->
{% block nav %}
<div class="breadcrumb-line">
	<ul class="breadcrumb">
		<a href="{%url 'Principal'%}">
			{%if request.path == ' / ' %}
			Principal
			{%else%}
			Principal {{request.path}}
			{% endif %}
		</a>
	</ul>
</div>
{% endblock %}
<!-- /Navegación -->

<!-- Tabla de alumnos -->
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Foto</th>
			<th>Matrícula</th>
			<th>Nombre</th>
			<th>Carrera</th>
			<th>Turno</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td class="text-center">
				<img src="" alt="" class"img-media">
			</td>
			<td class="text-semibold">UTM221032TI</td>
			<td class="muted">Vanessa</td>
			<td class="muted">TIC</td>
			<td class="muted">Matituno</td>
		<tr>
	</tbody>
</table>


{% endblock %}