{% extends "inicio/encabezado.html" %}

{% load static %}

{% block titulo %} Principal {% endblock %}




{% block imagen %} 
    {% load static %}
    {% static 'inicio/images/home.png' %}
{% endblock %}

{% block texto %} Principal {% endblock %}

{% block span %} DSM {% endblock %}

{% block contenido %}
    <!-- Contenido Principal -->

    <!-- Encabezado -->
    <div class="page-header">
        <div class="page-title">
            <h3>Alumnas
                <small>Lista de Alumnas</small>
            </h3>
        </div>
    </div>
    <!-- /Encabezado -->

    <table>
            <tbody>
            {% for alumna in alumnas %}
            <tr class="text-center">
            <td>
{% if alumna.imagen %}
    <img src="{{ alumna.imagen.url }}" alt="Foto" class="img-media" />
{% else %}
    <img src="{% static 'inicio/images/default.png' %}" alt="Foto" class="img-media" />
{% endif %}

            </td>
            <td class="text-semibold">{{ alumna.matricula }}</td>
            <td class="muted">{{ alumna.nombre }}</td>
            <td class="muted">{{ alumna.carrera }}</td>
            <td class="muted">{{ alumna.turno }}</td>
            </tr>
            {% endfor %}
            </tbody>
    </table>

    <!-- /Contenido Principal -->
{% endblock %}
